@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ConsultatList>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
  Layout = "Master.cshtml";
  List<IPublishedContent> consultants = new List<IPublishedContent>(Umbraco.Content(1155).Children().Where("Visible"));
  string consultantsJson = "";
  List<IPublishedContent> specialities = new List<IPublishedContent>(Umbraco.Content(1154).Children().Where("Visible"));
  string  specialitiesJson = "\"";
  foreach (var speciality in specialities){
    specialitiesJson += speciality.Name  + "\",\"";
  }
  specialitiesJson += "\"";
  
}
<div class="maincontent">
  <div class="container">
    <form class="form-inline">
      <div class="form-group mx-sm-2 mb-2">
        <label for="searchName" class="sr-only">Search by name</label>
        <input type="text" class="form-control typeahead" id="searchName" placeholder="Search by name..." />
      </div>
      <div class="form-group mx-sm-2 mb-2">
        <label for="searchSpeciality" class="sr-only">Search by speciality</label>
        <input type="text" class="form-control typeahead" id="searchSpeciality" placeholder="Search by speciality..." />
      </div>
      <div class="form-group mx-sm-2 mb-2">
        <label for="selectLocation">Select location</label>
        <select class="form-control" id="selectLocation">
          <option>All locations</option>
          <option>Circle Bath Hospital</option>
          <option>Circle Nottingham</option>
          <option>Circle Reading Hospital</option>
        </select>
      </div>
      <div class="form-group mx-sm-2 mb-2">
        <button type="submit" onclick="sort();">Update results</button>
      </div>
    </form>
  </div>
  <div class="consultants">
    <div class="container">
      <div class="row">
        @foreach(var consultant in consultants){
          string image = "";
          if(consultant.HasValue("profileImage")){
            image = (string)consultant.GetPropertyValue<IPublishedContent>("profileImage").GetCropUrl("thumb");
          }
          string speciality = (string)consultant.GetPropertyValue("customSpeciality");
          string location = (string)consultant.GetPropertyValue("location");
          consultantsJson += "{n:\"" + consultant.Name + "\",s:\"" + speciality + "\",l:\"" + location + "\",u:\"" + consultant.Url + "\"},";
          <div class="col-md-4">
            <a href="@consultant.Url">
              <img src="@image" alt="@consultant.Name is a @speciality at Circle @location" />
              <div>
                <h3 class="normal">@consultant.Name</h3>
                <p class="smaller">@speciality</p>
                <p class="smaller">Circle @location</p>
              </div>
            </a>
          </div>
        }
      </div>
    </div>
  </div>
</div>
<script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.jquery.js"></script>
<script>
var consultants=[ @Html.Raw(consultantsJson) ],specialities=[ @Html.Raw(specialitiesJson) ],names=[],map={};
$.each(consultants,function(i,c){map[c.n]=c;names.push(c.n);});
var sort = function(){
  console.log(0);
};
var matcher = function(ss){
  return function findMatches(q,cb){
    var m=[],sr= new RegExp(q,'i');
    $.each(ss,function(i,s){if(sr.test(s)) m.push(s);});
    cb(m);
  };
};
var selectFunction = function(e,o){
  window.location.href = 'newPage.html';
};
$('.typeahead').typeahead({hint:true,highlight:true,minLength:1},{source:matcher(names)});
$('.typeahead').bind('typeahead:select', function(ev, ob) {
  console.log(ob);
});
</script>
<style>
.tt-dropdown-menu{max-height:150px;overflow-y:auto}
</style>