@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Consultant>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
	var speciality = "Consultant Orthopaedic Surgeon and Specialist Knee Surgeon";
	var location = "Bath Hospital";
	var qualification = "MB ChB FRCS(Orth)";
	var phone = "0118 922 6888";
	var phoneforlink = "01189226888";
	var email = "enquiries@circlebath.co.uk";
	var professionalProfile =  "";
	var personalProfile = "";
	var currentPosition = "";
	
}
<div class="container">
  <div class="row profile">
    <div class="col">
      <img src="https://www.circlehealth.co.uk/media/1401/n_bradbury_edited.jpg" alt="@Model.Content.Name is a consultant @speciality" at Circle @location />
    </div>
    <div class="col">
        <h1>@Model.Content.Name<br /><span>@speciality</span></h1>
        <p>@location</p>
        <p><a href="tel:">@phone</a></p>
        <p><a href="mailto:@email"></a>@email</p>
    </div>
  </div>
</div>
<div class="greyback">
  <div class="container">
    <div class="row">
      <div class="col-7">
          <h2>Professional profile</h2>
          <p>@professionalProfile</p>
          <h2>Personal profile</h2>
          <p>@personalProfile</p>
          <h2>Current NHS or research position</h2>
          <p>@currentPosition</p>
      </div>
      <div class="col waterback">
          @Umbraco.RenderMacro("renderUmbracoForm", new {FormGuid="87a8b37a-b171-42a0-be1d-3b14737d8c02", FormTheme="", ExcludeScripts="0"})
      </div>
    </div>
  </div>
</div>