@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Consultant>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
  Layout = "Master.cshtml";
  string location = Model.Content.GetPropertyValue<string>("location");
  string speciality = "";
  string customPhone = "";
  string phone = "";
  string phoneforlink = "";
  
  if (Model.Content.HasValue("customSpeciality")){
    speciality = Model.Content.GetPropertyValue<string>("customSpeciality");
  }
  if (Model.Content.HasValue("customPhone")){
    customPhone = Model.Content.GetPropertyValue<string>("customPhone");
  }
  
  if (location == "Bath Hospital"){
    phone = "01761 422 222"; phoneforlink="01761422222";
  } else if (location == "Reading Hospital"){
    phone = "0118 922 6888"; phoneforlink = "01189226888";
  } else if (location == "Nottingham"){
    phone = "0115 970 5800"; phoneforlink = "01159705800";
  }
	
  if (!String.IsNullOrEmpty(customPhone)){ phone = customPhone; }
	
  string profileImage = "#"; //default profile image
  if (Model.Content.HasValue("profileImage") == true){
    profileImage = Model.Content.GetPropertyValue<IPublishedContent>("profileImage").Url;
  }
  
  string videoUrl = "";
  bool showVideo = false;
  if(Model.Content.GetPropertyValue<string[]>("youtubeVideos").Length > 0){
    showVideo = true;
    videoUrl = Model.Content.GetPropertyValue<string[]>("youtubeVideos")[0];
  }
  
  var treatments = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("treatments");
  var units = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("units");
  var specialities = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("specialities");

}

<div class="container">
  <div class="row profile">
    <div class="col-5">
      <img src="@profileImage" alt="@Model.Content.Name is a consultant @speciality at Circle @location" />
    </div>
    <div class="col">
        <h1>@Model.Content.Name</h1>
        <h2>@speciality</h2>
        <p>Circle @location</p>
        <p class="boxlist one"><a href="tel:@phoneforlink">@phone  <svg height="17" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/></svg></a></p>
        <p class="boxlist"><a>Make an enquirey <svg height="17" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/></svg></a></p>
    </div>
  </div>
</div>
<div class="maincontent">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
          @Umbraco.Field("profile", altText:"")
      </div>
      <div class="col">
        @Umbraco.RenderMacro("renderUmbracoForm", new {FormGuid="87a8b37a-b171-42a0-be1d-3b14737d8c02", FormTheme="", ExcludeScripts="0"})
      </div>
    </div>
  </div>
</div>
@if (showVideo){
  <div class="container video">
    <div>
      <div>
        <iframe src=" @videoUrl " width="640" height="360" allowfullscreen="allowfullscreen"></iframe>
      </div>  
    </div>
  </div>
}
@if(treatments.Any()){
  <div class="boxlist">
    <div  class="container">
      <div class="row">
        <div class="col-12"><h2>Treatments offered by @Model.Content.Name</h2></div>
        <div class="col">
          <p>
            @foreach (var treatment in treatments){
              <a href="@treatment.Url">@treatment.Name <svg height="17" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/></svg></a>
            }
          </p>
        </div>
      </div>
    </div>
  </div>
}
