@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ConsultatList>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
  Layout = "Master.cshtml";
  List<IPublishedContent> consultants = new List<IPublishedContent>(Umbraco.Content(1155).Children().Where("Visible"));
}
<div class="maincontent">
  <div class="consultants">
    <div class="container">
      <div class="row">
        @foreach(var consultant in consultants){
          string image = (string)consultant.GetPropertyValue<IPublishedContent>("profileImage").GetCropUrl("thumb");
          string speciality = (string)consultant.GetPropertyValue("customSpeciality");
          string location = (string)consultant.GetPropertyValue("location");
          <div class="col-4">
            <a href="@consultant.Url">
              <img src="@image" alt="@consultant.Name is a @speciality at Circle @location" />
              <div>
                <h3 class="normal">@consultant.Name</h3>
                <p class="smaller">@speciality</p>
                <p class="smaller">Circle @location</p>
              </div>
            </a>
          </div>
        }
      </div>
    </div>
  </div>
</div>