@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Treatment>
@using ContentModels = Umbraco.Web.PublishedContentModels
@using Archetype.Models
@{
  var showform = true;
  if (Request.QueryString["amp"] != null){
    Layout = "AMPTemplate.cshtml";
    showform = false;
  } else {
    Layout = "Master.cshtml";
  }
  List<KeyValuePair<string, string>> accordion = null;
  int i = 0;
  if (Model.Content.HasProperty("accordion")){
    accordion = new List<KeyValuePair<string, string>>();
    ArchetypeModel fieldlist = Model.Content.GetPropertyValue<ArchetypeModel>("accordion");
    foreach(ArchetypeFieldsetModel field in fieldlist){
      string title = field.GetValue<string>("title");
      string panel = field.GetValue<string>("panel");
      accordion.Add(new KeyValuePair<string, string>(title, panel));
    }
  }
  
  string bannerUrl = "https://www.circlehealth.co.uk/media/1702/acl-reconstrution-surgery.jpg"; //default hero image
  if (Model.Content.HasValue("bannerImage") == true){
    bannerUrl = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage").Url;
  }
  
  string videoUrl = "";
  bool showVideo = false;
  if(Model.Content.GetPropertyValue<string[]>("youtubeVideos").Length > 0){
    showVideo = true;
    videoUrl = Model.Content.GetPropertyValue<string[]>("youtubeVideos")[0];
  }
  
  var units = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("listOfUnits");
  
  List<IPublishedContent> consultants = new List<IPublishedContent>();
  foreach(var consultant in Umbraco.Content(1155).Children().Where("Visible")){
    foreach(var treatment in consultant.GetPropertyValue<IEnumerable<IPublishedContent>>("treatments")){
      if (treatment.Id == (int)UmbracoContext.Current.PageId){
        consultants.Add(consultant);
        break;
      }
    }
  }
}
<div class="hero-image" style="background-image:url( @bannerUrl )">
  <div class="dark-overlay text-center">
    <h1>@Model.Content.Name</h1>
  </div>
</div>
<div class="maincontent">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
          @Umbraco.Field("mainContent", altText:"")
          <div id="accordion">
            @foreach(KeyValuePair<string,string> panel in accordion){i++;
              <div class="card">
                <div class="card-header">
                <h2><a href="#" data-toggle="collapse" data-target="#collapse-@i" aria-expanded="false" aria-controls="collapse-@i">@panel.Key</a></h2>
              </div>
              <div id="collapse-@i" class="collapse" data-parent="#accordion">
                <div class="card-body">@Html.Raw(panel.Value)</div>
              </div>
            </div>
            }
        </div>
      </div>
      @if(showform){
        <div class="col-md-4">
          @Umbraco.RenderMacro("renderUmbracoForm", new {FormGuid="87a8b37a-b171-42a0-be1d-3b14737d8c02", FormTheme="", ExcludeScripts="0"})
        </div>
      }
    </div>
  </div>
</div>
@if (showVideo){
  <div class="greyback"><br />
    <div class="container video">
      <div>
        <div>
          <iframe src=" @videoUrl " width="640" height="360" allowfullscreen="allowfullscreen"></iframe>
        </div>
      </div>
    </div>
  </div>
}
@if(consultants.Any()){
  <div class="greyback consultants">
    <div class="container">
      <div class="row">
        <div class="col-12"><h2>Consultants who offer this treatment</h2></div>
        @foreach(var consultant in consultants){
          string image = (string)consultant.GetPropertyValue<IPublishedContent>("profileImage").GetCropUrl("thumb");
          string speciality = (string)consultant.GetPropertyValue("customSpeciality");
          string location = (string)consultant.GetPropertyValue("location");
          <div class="col-4">
            <a href="@consultant.Url">
              <img src="@image" alt="@consultant.Name is a @speciality at Circle @location" />
              <div>
                <h3 class="normal">@consultant.Name</h3>
                <p class="smaller">@speciality</p>
                <p class="smaller">Circle @location</p>
              </div>
            </a>
          </div>
        }
      </div>
    </div>
  </div>
}